.container {
    position: relative;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-rows: 50px 30px auto;
}

.control {
    position: relative;
}
.button {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: white;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: block;
    border: 0px;
    border-radius: 8px;
    outline: none;
    box-shadow: 1px 1px 3px rgba(120,120,120,0.5);
    color: #000; /*#224167;*/
    text-decoration: underline;
}
.button:active {
    transform: translate(0px, 1px);
}

.status {
    background-color: transparent;
}
.status p {
    margin: 0px;
    padding: 5px 10px;
    font-size: 0.9em;
    color: #224167;
}

.list {
    position: relative;
    /*background-color: white;*/
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list select {
    border-radius: 6px;
    border: 1px solid #999;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    outline: none;
}
.list option {
    padding: 10px 0px 10px 10px;
}
