.container {
  background-color: #f4f8fb;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h4 {
  margin: 0px;
  color: #fff;
  font-size: 1.2em;
}
h4::before {
  content: '\2601\00a0';
}
header {
  background-color: #3e76ba;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-panel {
  /*background: red;*/
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-panel button {
  background-color: #224167;
  border: 0px;
  width: calc(100% - 20px);
  padding: 10px 0px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.control-panel button:hover {
  background-color: #dce6f3;
  color: #224167;
}
.control-panel button:active {
  transform: translate(0px, 1px);
}
.control-panel button:disabled {
  background-color: #e6e6e6;
  color: #999;
}
.list-panel {
  /*background: greenyellow;*/
  position: relative;
  height: calc(100vh - 125px);
}
.list-panel select {
  border-radius: 8px;
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  outline: none;
}
option {
  padding: 5px;
}
.bottom-panel {
  position: relative;
  height: 25px;
}
.status {
  font-size: 0.8em;
  margin-left: 10px;
  color: #444;
  display: grid;
  grid-template-columns: auto 200px;
}
.status span:last-child {
  text-align: right;
  padding-right: 12px;
}